.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_open {
  opacity: 1;
  visibility: visible;
}

.form__info {
  width: 358px;
  height: 27px;
  border: 0;
  border-bottom: 1px solid black;
  opacity: 20%;
  margin-bottom: 20px;
  outline: none;
}
.form__info-error {
  display: none;
}
.form__info-error_active {
  display: block;
  font-size: 12px;
  color: #ff0000;
}
.form__info_type_error {
  border-bottom-color: rgb(0, 0, 255);
}
.form__info:focus {
  border-color: rgb(43, 0, 255);
}
.form__info:invalid {
  border-bottom: 1px solid #ff0000;
}
.form__info:valid {
  border-bottom: 1px solid #00ff37;
}
.form__button {
  border-radius: 1%;
  margin-top: 30px;
  width: 358px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
}
.form__button:hover {
  background: grey;
  cursor: pointer;
}
@media screen and (max-width: 799px) {
  .form__info {
    width: 238px;
    height: 26px;
  }
  .form__button {
    width: 238px;
    height: 46px;
  }
}
