.header {
  padding-top: 45px;
  margin: auto;
  max-width: 882px;
  height: 74px;
  border-bottom: solid 1px;
  border-color: #545454;
}
.header__logo {
  margin: 0%;
}
@media screen and (max-width: 799px) {
  .header__logo {
    margin-left: 10px;
  }
}
