.profile {
  margin: 50px auto;
  display: flex;
  max-width: 882px;
  flex-wrap: wrap;
  align-items: center;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 20px 0 0;
}
.profile__data {
  margin-top: 30px;
  width: 260px;
  height: 77px;
}
.profile__name {
  margin: 0%;
  display: flex;
  max-width: 373px;
  height: 43px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 500;
  line-height: 56px;
  color: #ffffff;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.edit-button {
  width: 24px;
  height: 24px;
  background: none;
  border: solid 1px;
  border-color: #ffffff;
  background-image: url(../images/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.edit-button:hover {
  opacity: 0.8;
  color: grey;
}
.profile__description {
  max-width: 372px;
  height: 43px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}
.add-button {
  width: 150px;
  height: 50px;
  background: none;
  border: solid 2px;
  border-color: #ffffff;
  margin-left: 196px;
  background-image: url(../images/Vector1.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.add-button:hover {
  opacity: 0.8;
  color: grey;
}
@media screen and (max-width: 879px) {
  .profile__image {
    justify-content: center;
    margin: auto;
  }
  .profile__data {
    max-width: 100%;
  }

  .add-button {
    max-width: 100%;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 319px) {
  .profile__description {
    max-width: 100%;
    text-align: center;
  }
  .profile__name {
    margin-left: 10px;
  }
}
